Code/Node-Red/DB_Integration.json
[{"id":"26c2023c.6d8356","type":"tab","label":"DB integration flow","disabled":false,"info":""},{"id":"52ba6627.4edb08","type":"mongodb3 in","z":"26c2023c.6d8356","service":"_ext_","configNode":"1728c95e.6c3677","name":"News project","collection":"JournalistTemplate","operation":"insert","x":550,"y":220,"wires":[["8bcdb1e.730df5"]]},{"id":"a5c76e3c.42963","type":"http request","z":"26c2023c.6d8356","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://newsapi.org/v2/everything?q=bitcoin&from=2020-10-05&sortBy=publishedAt&apiKey=401ee1a482544786bd3748fa276292ca","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["52ba6627.4edb08","8bcdb1e.730df5"]]},{"id":"8bcdb1e.730df5","type":"debug","z":"26c2023c.6d8356","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"5e453c48.f4e1bc","type":"inject","z":"26c2023c.6d8356","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["a5c76e3c.42963"]]},{"id":"1728c95e.6c3677","type":"mongodb3","z":"","uri":"mongodb+srv://rlakshminar6:VcMBtnje2OBJ4yWX@cluster0.aukoj.azure.mongodb.net/JournalistSandbox?retryWrites=true&w=majority","name":"JournalistSandbox","options":"","parallelism":"-1"}]