Code/Node-Red/FSM_Journalist_Editor.json
[{"id":"9c0630bf.2242f","type":"tab","label":"FSM","disabled":false,"info":""},{"id":"94497521.af3b08","type":"inject","z":"9c0630bf.2242f","name":"AssignState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"AssignState1","payloadType":"str","x":130,"y":280,"wires":[["273a3702.ca2098"]]},{"id":"1df539bd.311b4e","type":"debug","z":"9c0630bf.2242f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"273a3702.ca2098","type":"finite-state-machine","z":"9c0630bf.2242f","name":"Editor State Machine","fsmDefinition":"{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"AssignState1\":\"ASSIGN\",\"ReviewState1\":\"REVIEW\",\"SendState1\":\"SEND\"},\"ASSIGN\":{\"IdleState1\":\"IDLE\"},\"REVIEW\":{\"IdleState2\":\"IDLE\"},\"SEND\":{\"IdleState3\":\"IDLE\"}}}","sendInitialState":true,"sendStateWithoutChange":false,"showTransitionErrors":true,"x":390,"y":420,"wires":[["1df539bd.311b4e","4c2c2422.b8346c"]]},{"id":"811d6e7d.bcbcb","type":"finite-state-machine","z":"9c0630bf.2242f","name":"Journalist State Machine","fsmDefinition":"{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"AssignState\":\"ASSIGN\"},\"ASSIGN\":{\"WorkState1\":\"WORK\"},\"WORK\":{\"WaitState\":\"WAIT\",\"IdleState\":\"IDLE\"},\"WAIT\":{\"WorkState2\":\"WORK\"}}}","sendInitialState":true,"sendStateWithoutChange":true,"showTransitionErrors":true,"x":430,"y":560,"wires":[["234a0c9e.115004","e26530fc.f2d7f8"]]},{"id":"4c2c2422.b8346c","type":"ui_template","z":"9c0630bf.2242f","group":"7ec55a0e.fe4bf4","name":"Editor State","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload.status\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":460,"wires":[[]]},{"id":"234a0c9e.115004","type":"ui_template","z":"9c0630bf.2242f","group":"7ec55a0e.fe4bf4","name":"Journalist State","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload.status\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":540,"wires":[[]]},{"id":"a0347402.818668","type":"inject","z":"9c0630bf.2242f","name":"ReviewState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ReviewState1","x":130,"y":360,"wires":[["273a3702.ca2098"]]},{"id":"f3b428e8.02ab98","type":"inject","z":"9c0630bf.2242f","name":"SendState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SendState1","x":110,"y":440,"wires":[["273a3702.ca2098"]]},{"id":"fcf08327.cdda78","type":"inject","z":"9c0630bf.2242f","name":"IdleState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"IdleState1","payloadType":"str","x":140,"y":320,"wires":[["273a3702.ca2098"]]},{"id":"e9065da5.7ccba","type":"inject","z":"9c0630bf.2242f","name":"IdleState2","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"IdleState2","x":120,"y":400,"wires":[["273a3702.ca2098"]]},{"id":"a7748d8e.bdebf","type":"inject","z":"9c0630bf.2242f","name":"IdleState3","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"IdleState3","x":120,"y":480,"wires":[["273a3702.ca2098"]]},{"id":"860866cc.63a01","type":"inject","z":"9c0630bf.2242f","name":"AssignState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"AssignState","payloadType":"str","x":140,"y":560,"wires":[["811d6e7d.bcbcb"]]},{"id":"99e176d2.6663f8","type":"inject","z":"9c0630bf.2242f","name":"WorkState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.2","topic":"WorkState1","x":140,"y":620,"wires":[["811d6e7d.bcbcb"]]},{"id":"b8d1d218.1a9d","type":"inject","z":"9c0630bf.2242f","name":"WaitState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.3","topic":"WaitState","x":150,"y":680,"wires":[["811d6e7d.bcbcb"]]},{"id":"6f765000.ad637","type":"inject","z":"9c0630bf.2242f","name":"WorkState2","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.4","topic":"WorkState2","x":340,"y":700,"wires":[["811d6e7d.bcbcb"]]},{"id":"23b0c180.0d7196","type":"inject","z":"9c0630bf.2242f","name":"IdleState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"IdleState","x":560,"y":700,"wires":[["811d6e7d.bcbcb"]]},{"id":"e26530fc.f2d7f8","type":"debug","z":"9c0630bf.2242f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":620,"wires":[]},{"id":"7ec55a0e.fe4bf4","type":"ui_group","z":"","name":"Editor","tab":"b039e28a.c03818","order":1,"disp":true,"width":"3","collapse":false},{"id":"b039e28a.c03818","type":"ui_tab","z":"","name":"AI Nerve","icon":"Editor","disabled":false,"hidden":false}]