Code/Node-Red/UI_FSM_Teams_Email.json
[{"id":"b0fdbc3d.4d761","type":"tab","label":"Flow_UI","disabled":false,"info":""},{"id":"ef3ab149.fafb58","type":"http in","z":"b0fdbc3d.4d761","name":"","url":"/nervecenter","method":"get","upload":false,"swaggerDoc":"","x":180,"y":100,"wires":[["4938fa0a.171f04"]]},{"id":"4938fa0a.171f04","type":"template","z":"b0fdbc3d.4d761","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!doctype html>\n<!-- Note that adding an appcache really speeds things up after the first load\n    You need to amend the appcache file to meet your needs.\n    Don't forget to change the appcache file if you update ANY\n    of the files in it otherwise the old versions will ALWAYS be used.\n<html lang=\"en\" manifest=\"./uibuilder.appcache\">\n-->\n<html lang=\"en\">\n<!--\n    This is the default, template html for uibuilder.\n    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically\n    update the ui based on incoming/outgoing messages from/to the\n    Node-RED server.\n\n    You will want to alter this to suite your own needs. To do so,\n    copy this file to <userDir>/uibuilder/<url>/src.\n-->\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n    <style>\n        form{\n            float:left;\n            margin-left:50px; /* this gives space for the label on the left */\n            clear:both; /* prevent elements from stacking weirdly */\n        }\n        h1{\n            float:left;\n            margin-left:600px; /* this gives space for the label on the left */\n            clear:both; /* prevent elements from stacking weirdly */\n        }\n        input[type=text] {\n              padding: 10px;\n              font-size: 17px;\n              border: 1px solid grey;\n              float: left;\n              width: 80%;\n              background: #f1f1f1;\n\n        }\n    </style>\n\n    <title>Editor</title>\n\n</head>\n<body>\n            <form action=\"/nervecenter\" method=\"POST\">\n                                   <br/><br/><h2><label class=\"label label-warning\" >Select task for the Editor</label></h2><br/><br/>\n                    <select class=\"form-control form-control-sm\" name=\"task_dd\" id=\"task_dd\">\n                            <option value=\"All\">Select Task</option>\n                            <option value=\"AssignState1\">Assign article</option>\n                          <!--  <option value=\"IdleState1\">IDLE</option>-->\n                            <option value=\"ReviewState1\">Review</option>\n                            <option value=\"IdleState2\">IDLE</option>\n                         <!--   <option value=\"SendState1\">Send State</option>-->\n                          <!--  <option value=\"IdleState3\">IDLE 3</option>-->\n                    </select><br/>\n                    <select class=\"form-control form-control-sm\" name=\"theme_dd\" id=\"theme_dd\">\n                            <option value=\"All\">Select Theme</option>\n                            <option value=\"\">US Election 2020</option>\n                            <option value=\"\">Covid19</option>\n                            <option value=\"\">US work visa</option>\n                           <!-- <option value=\"IdleState2\">IDLE</option>\n                            <option value=\"SendState1\">Send State</option>\n                            <option value=\"IdleState3\">IDLE 3</option>-->\n                    </select><br/>\n                    <select class=\"form-control form-control-sm\" name=\"journalist_dd\" id=\"journalist_dd\">\n                            <option value=\"All\">Choose Journalist</option>\n                            <option value=\"AT\">Awanish Tiwari</option>\n                            <option value=\"DL\">Divya Lakshminarayana</option>\n                            <option value=\"RL\">Rohit Lakshminarayana</option>\n                            <option value=\"RG\">Rameshwar Gupta</option>\n                        <!--    <option value=\"SendState1\">Send State</option>\n                            <option value=\"IdleState3\">IDLE 3</option>-->\n                    </select><br/>\n                    \n                     <input type=\"hidden\" id=\"previous_task\" name=\"previous_task\" value=\"NA\">\n               <input class=\"btn btn-success\" type=\"Submit\" value=\"Submit\" >\n\n            </form>\n\n\n\n</body>\n\n</html>","output":"str","x":440,"y":140,"wires":[["19ffa2f6.78038d"]]},{"id":"4f18f52e.05e91c","type":"http in","z":"b0fdbc3d.4d761","name":"","url":"/nervecenter","method":"post","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["4938fa0a.171f04","b2ef533.836d63","59116833.9e4f3"]]},{"id":"19ffa2f6.78038d","type":"http response","z":"b0fdbc3d.4d761","name":"e_task","statusCode":"","headers":{},"x":710,"y":60,"wires":[]},{"id":"f787bf05.454448","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"3d1507be.3e3a88","type":"finite-state-machine","z":"b0fdbc3d.4d761","name":"Editor State Machine","fsmDefinition":"{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"AssignState1\":\"ASSIGN\",\"ReviewState1\":\"REVIEW\"},\"ASSIGN\":{\"IdleState1\":\"IDLE\"},\"REVIEW\":{\"IdleState2\":\"IDLE\"}}}","sendInitialState":true,"sendStateWithoutChange":false,"showTransitionErrors":true,"x":390,"y":440,"wires":[["f787bf05.454448","99d267f1.fdafe"]]},{"id":"ca8a56d9.9b759","type":"finite-state-machine","z":"b0fdbc3d.4d761","name":"Journalist State Machine","fsmDefinition":"{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"AssignState\":\"ASSIGN\"},\"ASSIGN\":{\"WorkState1\":\"WORK\"},\"WORK\":{\"WaitState\":\"WAIT\",\"IdleState\":\"IDLE\"},\"WAIT\":{\"WorkState2\":\"WORK\"}}}","sendInitialState":true,"sendStateWithoutChange":true,"showTransitionErrors":true,"x":430,"y":580,"wires":[["b2e1be4b.36e2f","bae00e88.ece2d8"]]},{"id":"99d267f1.fdafe","type":"ui_template","z":"b0fdbc3d.4d761","group":"7ec77ea7.3ab06","name":"Editor State","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload.status\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":480,"wires":[[]]},{"id":"b2e1be4b.36e2f","type":"ui_template","z":"b0fdbc3d.4d761","group":"7ec77ea7.3ab06","name":"Journalist State","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload.status\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":560,"wires":[[]]},{"id":"ff20d7d9.a88aa","type":"inject","z":"b0fdbc3d.4d761","name":"AssignState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"AssignState","payloadType":"str","x":140,"y":580,"wires":[["ca8a56d9.9b759"]]},{"id":"edcc0e03.3b0778","type":"inject","z":"b0fdbc3d.4d761","name":"WorkState1","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.2","topic":"WorkState1","x":140,"y":640,"wires":[["ca8a56d9.9b759"]]},{"id":"989634bb.bea898","type":"inject","z":"b0fdbc3d.4d761","name":"WaitState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.3","topic":"WaitState","x":150,"y":700,"wires":[["ca8a56d9.9b759"]]},{"id":"f616e2c3.66fc78","type":"inject","z":"b0fdbc3d.4d761","name":"WorkState2","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.4","topic":"WorkState2","x":340,"y":720,"wires":[["ca8a56d9.9b759"]]},{"id":"9010b118.947948","type":"inject","z":"b0fdbc3d.4d761","name":"IdleState","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"IdleState","x":560,"y":720,"wires":[["ca8a56d9.9b759"]]},{"id":"bae00e88.ece2d8","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":640,"wires":[]},{"id":"b2ef533.836d63","type":"function","z":"b0fdbc3d.4d761","name":"","func":"var payload=msg.payload.task_dd;\nmsg.topic=payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["3d1507be.3e3a88","52e12928.2c0648","1682566b.75c9f2"]]},{"id":"59116833.9e4f3","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":160,"y":440,"wires":[]},{"id":"52e12928.2c0648","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"1682566b.75c9f2","type":"switch","z":"b0fdbc3d.4d761","name":"Hoo Hoo Haa Haaaaa..","property":"payload.journalist_dd","propertyType":"msg","rules":[{"t":"eq","v":"AT","vt":"str"},{"t":"eq","v":"RL","vt":"str"},{"t":"eq","v":"DL","vt":"str"},{"t":"eq","v":"RG","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":240,"wires":[["f55630c6.acc3c8","46a8effe.9c23d8","bc40a24c.ec5148"],["34ce970d.e9483","af6b584.6858da8","62b45491.a2815c"],["654950d1.c3c05","b8a0110e.3e87a8"],["8c1ed545.addd88","fef71bfc.652e7"]]},{"id":"f55630c6.acc3c8","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"34ce970d.e9483","type":"debug","z":"b0fdbc3d.4d761","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"46a8effe.9c23d8","type":"template","z":"b0fdbc3d.4d761","name":"MS Teams - AT","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Hello Awanish you have been assigned a new task\",\n    \"sections\": [{\n        \"activityTitle\": \"![TestImage](https://47a92947.ngrok.io/Content/Images/default.png)BBC NEWS - Editor assigned a new task\",\n        \"activitySubtitle\": \"Hello Awanish you have been assigned a new task - Check the email notification awatiwari@gmail.com\",\n        \"activityImage\": \"https://teamsnodesample.azurewebsites.net/static/img/image5.png\",\n        \"facts\": [{\n            \"name\": \"AWANISH TIWARI\",\n            \"value\": \"Journalist ID:1\"\n        }, {\n            \"name\": \"Theme\",\n            \"value\": \"Covid 19\"\n        }, {\n            \"name\": \"Status\",\n            \"value\": \"Active\"\n        }],\n        \"markdown\": true\n    }],\n    \"potentialAction\": [{\n        \"@type\": \"ActionCard\",\n        \"name\": \"Add a comment\",\n        \"inputs\": [{\n            \"@type\": \"TextInput\",\n            \"id\": \"comment\",\n            \"isMultiline\": false,\n            \"title\": \"Add a comment here for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Add comment\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Set due date\",\n        \"inputs\": [{\n            \"@type\": \"DateInput\",\n            \"id\": \"dueDate\",\n            \"title\": \"Enter a due date for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Change status\",\n        \"inputs\": [{\n            \"@type\": \"MultichoiceInput\",\n            \"id\": \"list\",\n            \"title\": \"Select a status\",\n            \"isMultiSelect\": \"false\",\n            \"choices\": [{\n                \"display\": \"In Progress\",\n                \"value\": \"1\"\n            }, {\n                \"display\": \"Review Article\",\n                \"value\": \"2\"\n            }, {\n                \"display\": \"Closed\",\n                \"value\": \"3\"\n            }]\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n\n        \n        \n    }]\n}","output":"str","x":1060,"y":180,"wires":[["5bdb729c.a4fcf4"]]},{"id":"5bdb729c.a4fcf4","type":"http request","z":"b0fdbc3d.4d761","name":"MS Teams - AT","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://outlook.office.com/webhook/0802001e-f4f6-46c2-9754-c99bbba30c90@93f33571-550f-43cf-b09f-cd331338d086/IncomingWebhook/765599c9c30041a7b0bcc3c3694208b8/f7181179-23a9-49a2-8a79-f1a2ba085007","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":260,"wires":[[]]},{"id":"af6b584.6858da8","type":"template","z":"b0fdbc3d.4d761","name":"MS Team - RL","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Hello Rohit you have been assigned a new task\",\n    \"sections\": [{\n        \"activityTitle\": \"![TestImage](https://47a92947.ngrok.io/Content/Images/default.png)BBC NEWS - Editor assigned a new task\",\n        \"activitySubtitle\": \"Hello Rohith you have been assigned a new task -Check the email notification sent to rohitlnarayan@gmail.com\",\n        \"activityImage\": \"https://teamsnodesample.azurewebsites.net/static/img/image5.png\",\n        \"facts\": [{\n            \"name\": \"ROHITH LAKS\",\n            \"value\": \"Journalist ID:2\"\n            \n        }, {\n            \"name\": \"Theme\",\n            \"value\": \"US - Election\"\n        }, {\n            \"name\": \"Status\",\n            \"value\": \"Active\"\n        }],\n        \"markdown\": true\n    }],\n    \"potentialAction\": [{\n        \"@type\": \"ActionCard\",\n        \"name\": \"Add a comment\",\n        \"inputs\": [{\n            \"@type\": \"TextInput\",\n            \"id\": \"comment\",\n            \"isMultiline\": false,\n            \"title\": \"Add a comment here for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Add comment\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Set due date\",\n        \"inputs\": [{\n            \"@type\": \"DateInput\",\n            \"id\": \"dueDate\",\n            \"title\": \"Enter a due date for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Change status\",\n        \"inputs\": [{\n            \"@type\": \"MultichoiceInput\",\n            \"id\": \"list\",\n            \"title\": \"Select a status\",\n            \"isMultiSelect\": \"false\",\n            \"choices\": [{\n                \"display\": \"In Progress\",\n                \"value\": \"1\"\n            }, {\n                \"display\": \"Review Article\",\n                \"value\": \"2\"\n            }, {\n                \"display\": \"Closed\",\n                \"value\": \"3\"\n            }]\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n\n        \n        \n    }]\n}","output":"str","x":960,"y":260,"wires":[["7f8df258.eec084"]]},{"id":"654950d1.c3c05","type":"template","z":"b0fdbc3d.4d761","name":"MS Team - DL","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Hello Divya you have been assigned a new task\",\n    \"sections\": [{\n        \"activityTitle\": \"![TestImage](https://47a92947.ngrok.io/Content/Images/default.png)BBC NEWS - Editor assigned a new task\",\n        \"activitySubtitle\": \"Hello Divya you have been assigned a new task -Check the email notification sent to divyareddy8596@gmail.com\",\n        \"activityImage\": \"https://teamsnodesample.azurewebsites.net/static/img/image5.png\",\n        \"facts\": [{\n            \"name\": \"DIVYA LAKSHMINARAYANA\",\n            \"value\": \"Journalist ID: 3\"\n            \n        }, {\n            \"name\": \"Theme\",\n            \"value\": \"XYZ\"\n        }, {\n            \"name\": \"Status\",\n            \"value\": \"Active\"\n        }],\n        \"markdown\": true\n    }],\n    \"potentialAction\": [{\n        \"@type\": \"ActionCard\",\n        \"name\": \"Add a comment\",\n        \"inputs\": [{\n            \"@type\": \"TextInput\",\n            \"id\": \"comment\",\n            \"isMultiline\": false,\n            \"title\": \"Add a comment here for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Add comment\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Set due date\",\n        \"inputs\": [{\n            \"@type\": \"DateInput\",\n            \"id\": \"dueDate\",\n            \"title\": \"Enter a due date for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Change status\",\n        \"inputs\": [{\n            \"@type\": \"MultichoiceInput\",\n            \"id\": \"list\",\n            \"title\": \"Select a status\",\n            \"isMultiSelect\": \"false\",\n            \"choices\": [{\n                \"display\": \"In Progress\",\n                \"value\": \"1\"\n            }, {\n                \"display\": \"Review Article\",\n                \"value\": \"2\"\n            }, {\n                \"display\": \"Closed\",\n                \"value\": \"3\"\n            }]\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n\n        \n        \n    }]\n}","output":"str","x":940,"y":340,"wires":[["6ec271fd.39abe8"]]},{"id":"8c1ed545.addd88","type":"template","z":"b0fdbc3d.4d761","name":"MS Team - RG","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Hello Rameshwar you have been assigned a new task\",\n    \"sections\": [{\n        \"activityTitle\": \"![TestImage](https://47a92947.ngrok.io/Content/Images/default.png)BBC NEWS - Editor assigned a new task\",\n        \"activitySubtitle\": \"Hello Rameshwar you have been assigned a new task -Check the email notification\",\n        \"activityImage\": \"https://teamsnodesample.azurewebsites.net/static/img/image5.png\",\n        \"facts\": [{\n            \"name\": \"RAMESHWAR GUPTA\",\n            \"value\": \"Journalist ID : 4\"\n            \n        }, {\n            \"name\": \"Theme\",\n            \"value\": \"ABCD\"\n        }, {\n            \"name\": \"Status\",\n            \"value\": \"Active\"\n        }],\n        \"markdown\": true\n    }],\n    \"potentialAction\": [{\n        \"@type\": \"ActionCard\",\n        \"name\": \"Add a comment\",\n        \"inputs\": [{\n            \"@type\": \"TextInput\",\n            \"id\": \"comment\",\n            \"isMultiline\": false,\n            \"title\": \"Add a comment here for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Add comment\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Set due date\",\n        \"inputs\": [{\n            \"@type\": \"DateInput\",\n            \"id\": \"dueDate\",\n            \"title\": \"Enter a due date for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Change status\",\n        \"inputs\": [{\n            \"@type\": \"MultichoiceInput\",\n            \"id\": \"list\",\n            \"title\": \"Select a status\",\n            \"isMultiSelect\": \"false\",\n            \"choices\": [{\n                \"display\": \"In Progress\",\n                \"value\": \"1\"\n            }, {\n                \"display\": \"Review Article\",\n                \"value\": \"2\"\n            }, {\n                \"display\": \"Closed\",\n                \"value\": \"3\"\n            }]\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n\n        \n        \n    }]\n}","output":"str","x":940,"y":420,"wires":[["2446c12.f0348be"]]},{"id":"7f8df258.eec084","type":"http request","z":"b0fdbc3d.4d761","name":"MS Team - RL","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://outlook.office.com/webhook/0802001e-f4f6-46c2-9754-c99bbba30c90@93f33571-550f-43cf-b09f-cd331338d086/IncomingWebhook/765599c9c30041a7b0bcc3c3694208b8/f7181179-23a9-49a2-8a79-f1a2ba085007","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":340,"wires":[[]]},{"id":"6ec271fd.39abe8","type":"http request","z":"b0fdbc3d.4d761","name":"MS Team - DL","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://outlook.office.com/webhook/0802001e-f4f6-46c2-9754-c99bbba30c90@93f33571-550f-43cf-b09f-cd331338d086/IncomingWebhook/765599c9c30041a7b0bcc3c3694208b8/f7181179-23a9-49a2-8a79-f1a2ba085007","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":400,"wires":[[]]},{"id":"2446c12.f0348be","type":"http request","z":"b0fdbc3d.4d761","name":"MS Team - RG","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://outlook.office.com/webhook/0802001e-f4f6-46c2-9754-c99bbba30c90@93f33571-550f-43cf-b09f-cd331338d086/IncomingWebhook/765599c9c30041a7b0bcc3c3694208b8/f7181179-23a9-49a2-8a79-f1a2ba085007","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":500,"wires":[[]]},{"id":"62b45491.a2815c","type":"e-mail","z":"b0fdbc3d.4d761","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"rohitlnarayan@gmail.com","dname":"Rohit mail","x":1360,"y":220,"wires":[]},{"id":"bc40a24c.ec5148","type":"e-mail","z":"b0fdbc3d.4d761","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"awatiwari@gmail.com","dname":"Mail to Awanish","x":1360,"y":140,"wires":[]},{"id":"b8a0110e.3e87a8","type":"e-mail","z":"b0fdbc3d.4d761","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"divyareddy8596@gmail.com","dname":"Mail to Divya","x":1370,"y":300,"wires":[]},{"id":"fef71bfc.652e7","type":"e-mail","z":"b0fdbc3d.4d761","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Mail to Rameshwar","x":1390,"y":380,"wires":[]},{"id":"7ec77ea7.3ab06","type":"ui_group","z":"","name":"Editor","tab":"b039e28a.c03818","order":1,"disp":true,"width":"3","collapse":false},{"id":"b039e28a.c03818","type":"ui_tab","z":"","name":"AI Nerve","icon":"newstest","disabled":false,"hidden":false}]