flows_editor.json
[{"id":"ec4b97d2.ec53a8","type":"tab","label":"Flow_UI","disabled":false,"info":""},{"id":"f31cabf3.15ebc8","type":"http in","z":"ec4b97d2.ec53a8","name":"","url":"/nervecenter","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["56f4a584.9119ec"]]},{"id":"56f4a584.9119ec","type":"template","z":"ec4b97d2.ec53a8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!doctype html>\n<!-- Note that adding an appcache really speeds things up after the first load\n    You need to amend the appcache file to meet your needs.\n    Don't forget to change the appcache file if you update ANY\n    of the files in it otherwise the old versions will ALWAYS be used.\n<html lang=\"en\" manifest=\"./uibuilder.appcache\">\n-->\n<html lang=\"en\">\n<!--\n    This is the default, template html for uibuilder.\n    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically\n    update the ui based on incoming/outgoing messages from/to the\n    Node-RED server.\n\n    You will want to alter this to suite your own needs. To do so,\n    copy this file to <userDir>/uibuilder/<url>/src.\n-->\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n    <style>\n        form{\n            float:left;\n            margin-left:50px; /* this gives space for the label on the left */\n            clear:both; /* prevent elements from stacking weirdly */\n        }\n        h1{\n            float:left;\n            margin-left:600px; /* this gives space for the label on the left */\n            clear:both; /* prevent elements from stacking weirdly */\n        }\n        input[type=text] {\n              padding: 10px;\n              font-size: 17px;\n              border: 1px solid grey;\n              float: left;\n              width: 80%;\n              background: #f1f1f1;\n\n        }\n    </style>\n\n    <title>Editor</title>\n\n</head>\n<body>\n            <form action=\"/nervecenter\" method=\"POST\">\n                                   <br/><br/><h2><label class=\"label label-warning\" >Select task for the Editor</label></h2><br/><br/>\n                    <select class=\"form-control form-control-sm\" name=\"task_dd\" id=\"task_dd\">\n                            <option value=\"All\">Select Task</option>\n                            <option value=\"assign\">Assign article</option>\n                            <option value=\"review\">Review article</option>\n                            <option value=\"publish\">Send article to Publisher</option>\n                    </select><br/>\n                     <input type=\"hidden\" id=\"previous_task\" name=\"previous_task\" value=\"NA\">\n               <input class=\"btn btn-success\" type=\"Submit\" value=\"Submit\" >\n\n            </form>\n\n\n\n</body>\n\n</html>","output":"str","x":440,"y":140,"wires":[["d9b2275f.437b58"]]},{"id":"c07296a5.797598","type":"debug","z":"ec4b97d2.ec53a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":240,"wires":[]},{"id":"e73fb92e.f66268","type":"http in","z":"ec4b97d2.ec53a8","name":"","url":"/nervecenter","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["56f4a584.9119ec","c07296a5.797598"]]},{"id":"d9b2275f.437b58","type":"http response","z":"ec4b97d2.ec53a8","name":"e_task","statusCode":"","headers":{},"x":610,"y":100,"wires":[]}]