nodes/DataRetrivalDB.json
[{"id":"93d75858.e6347","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"95bf878b.683e7","type":"inject","z":"93d75858.e6347","name":"Start","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":189,"y":300,"wires":[["50d3f283.8eaba4"]]},{"id":"50d3f283.8eaba4","type":"function","z":"93d75858.e6347","name":"Request","func":"msg.payload = {};\nmsg.collection = 'JournalistTemplate';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["45313bf4.fe914c"]]},{"id":"8f125f28.cea88","type":"debug","z":"93d75858.e6347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":691,"y":300,"wires":[]},{"id":"45313bf4.fe914c","type":"mongodb-var in","z":"93d75858.e6347","service":"_ext_","configNode":"7fd6764b.5b6ec8","name":"MongoDB","collection":"JournalistTemplate","operation":"find.toArray","x":510,"y":300,"wires":[["8f125f28.cea88"]]},{"id":"7fd6764b.5b6ec8","type":"mongodb-var","z":"93d75858.e6347","uri":"mongodb+srv://rlakshminar6:VcMBtnje2OBJ4yWX@cluster0.aukoj.azure.mongodb.net/JournalistSandbox?retryWrites=true&w=majority","name":"connect","options":"","parallelism":"-1"}]