nodes/MS_TeamsNotification.json
[{"id":"2915a21b.94ec9e","type":"tab","label":"MICROSOFT TEAMS NOTIFICATION","disabled":false,"info":""},{"id":"88bf974a.0ab068","type":"inject","z":"2915a21b.94ec9e","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello rohit","payloadType":"str","x":170,"y":140,"wires":[["4b9a3c21.dbd0a4","7ffa4689.847ed8"]]},{"id":"7a798977.e6058","type":"http request","z":"2915a21b.94ec9e","name":"Microsoft Teams Channel","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://outlook.office.com/webhook/0802001e-f4f6-46c2-9754-c99bbba30c90@93f33571-550f-43cf-b09f-cd331338d086/IncomingWebhook/765599c9c30041a7b0bcc3c3694208b8/f7181179-23a9-49a2-8a79-f1a2ba085007","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":140,"wires":[[]]},{"id":"4b9a3c21.dbd0a4","type":"template","z":"2915a21b.94ec9e","d":true,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"@context\": \"https://schema.org/extensions\",\n  \"@type\": \"MessageCard\",\n  \"themeColor\": \"0072C6\",\n  \"title\": \"Welcome to BBC news\",\n  \"text\": {{msg.payload}}\n}\n","output":"str","x":370,"y":140,"wires":[["7a798977.e6058"]]},{"id":"7ffa4689.847ed8","type":"template","z":"2915a21b.94ec9e","name":"JSON for teams display","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Journalist assigned a new task\",\n    \"sections\": [{\n        \"activityTitle\": \"![TestImage](https://47a92947.ngrok.io/Content/Images/default.png)Journalist assigned a new task\",\n        \"activitySubtitle\": \"Check the email notification\",\n        \"activityImage\": \"https://teamsnodesample.azurewebsites.net/static/img/image5.png\",\n        \"facts\": [{\n            \"name\": \"Assigned to\",\n            \"value\": \"Editor 1\"\n        }, {\n            \"name\": \"Due date\",\n            \"value\": \"Mon Oct 28 01 2020 17:07:18 GMT-0700 (EST)\"\n        }, {\n            \"name\": \"Status\",\n            \"value\": \"Not started\"\n        }],\n        \"markdown\": true\n    }],\n    \"potentialAction\": [{\n        \"@type\": \"ActionCard\",\n        \"name\": \"Add a comment\",\n        \"inputs\": [{\n            \"@type\": \"TextInput\",\n            \"id\": \"comment\",\n            \"isMultiline\": false,\n            \"title\": \"Add a comment here for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Add comment\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Set due date\",\n        \"inputs\": [{\n            \"@type\": \"DateInput\",\n            \"id\": \"dueDate\",\n            \"title\": \"Enter a due date for this task\"\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n    }, {\n        \"@type\": \"ActionCard\",\n        \"name\": \"Change status\",\n        \"inputs\": [{\n            \"@type\": \"MultichoiceInput\",\n            \"id\": \"list\",\n            \"title\": \"Select a status\",\n            \"isMultiSelect\": \"false\",\n            \"choices\": [{\n                \"display\": \"In Progress\",\n                \"value\": \"1\"\n            }, {\n                \"display\": \"Review Article\",\n                \"value\": \"2\"\n            }, {\n                \"display\": \"Closed\",\n                \"value\": \"3\"\n            }]\n        }],\n        \"actions\": [{\n            \"@type\": \"HttpPOST\",\n            \"name\": \"Save\",\n            \"target\": \"http://...\"\n        }]\n\n        \n        \n    }]\n}","output":"str","x":420,"y":220,"wires":[["7a798977.e6058"]]}]